<p id="notice"><%= notice %></p>

<h1>Listing Rubygems</h1>

<%= page_entries_info @rubygems %>
<%= paginate @rubygems %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rubygems.each do |rubygem| %>
      <tr>
        <td><%= rubygem.id %></td>
        <td><%= link_to rubygem.name, rubygems_org_url(gem_name: rubygem.name), {target: "_blank"} %></td>
        <td><%= link_to 'Show', rubygem %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @rubygems %>
